<div class="container">
	<div class="row">
		<% @events.each do |event| %>
			<div class="col-4">
				<%= link_to  event_path(event) do %>
					<div class="hvrbox">
						<%= image_tag(event.pictures.first.url,  class: "hvrbox-layer_bottom" )%>
						<div class="hvrbox-layer_top hvrbox-layer_slideright">
							<div class="hvrbox-text">
								<h3><%= event.title %></h3>
								<p><%= event.date %></p>
							</div>
						</div>
					<% end %>
					</div>
			</div>
		<% end %>
	</div>
</div>

