<div class="container">
	<div class="row">
		<% @tours.each do |tour| %>
			<div class="col-6 col-md-4">
				<%= link_to  tour_path(tour) do %>
					<div class="hvrbox">
						<%= image_tag(tour.cover_tour.url,  class: "hvrbox-layer_bottom" )%>
						<div class="hvrbox-layer_top hvrbox-layer_slideright">
							<div class="hvrbox-text">
								<h3><%= tour.title %></h3>
								<p><%= tour.year %></p>
							</div>
						</div>
					<% end %>
					</div>
			</div>
		<% end %>
	</div>
</div>

