<div class="container">
	<div class="row">
		
		<% @tours.each do |tour| %>
			<div class="col-12 col-md-3">
				<%= link_to  tour_path(tour) do %>
					<%= image_tag(tour.cover_tour.url, class: "cover_tour_img")%>
					<li class="list-unstyled"><%= tour.title %> - <%= tour.year %> </li>
				<% end %>
			</div>

		<% end %>
	</div>
</div>
