<div class="container">
	<% @tour.concerts.each do |concert| %>
		<li><%= concert.city %> - <%= concert.date %></li>
	<% end %>

	<%= link_to "Ajouter un concert", new_concert_path, class: "btn btn-primary"  %>
</div>