<div class="nested-fields">
	<div class="row">
		<div class="col-12">
			<%= f.input :url, label: false, placeholder: "youtube url" %>
		</div>
		<div class="col-12 col-md-4">
			<%= link_to_remove_association "Supprimer cette vidéo", f, class: "btn btn-danger" %>
		</div>
	</div>
</div>

