<div class="container">
	<div class="row">
		<% @concerts.each do |concert| %>
			<div class="col-4">
				<%= link_to  concert_path(concert) do %>
					<div class="hvrbox">
						<%= image_tag(concert.pictures.first.url,  class: "hvrbox-layer_bottom" )%>
						<div class="hvrbox-layer_top hvrbox-layer_slideright">
							<div class="hvrbox-text">
								<h3><%= concert.city %></h3>
								<p><%= concert.date %></p>
							</div>
						</div>
					<% end %>
					</div>
			</div>
		<% end %>
	</div>
</div>
