<div class="container">
	<% @concerts.each do |concert| %>
		<%= link_to  concert_path(concert) do %>
			<li class="list-unstyled"><%= concert.city %> - <%= concert.date %> </li>
		<% end %>
	<% end %>
</div>
