<div class="container">
	<h1>Calendards</h1>
	<hr>
		<div class="row">
		<% @calendars.each do |calendar| %>
			<div class="col-4">
				<%= link_to  calendar_path(calendar) do %>
					<div class="hvrbox">
						<%= image_tag(calendar.images.first.url,  class: "hvrbox-layer_bottom" )%>
						<div class="hvrbox-layer_top hvrbox-layer_slideright">
							<div class="hvrbox-text">
								<h3>Calendard <%= calendar.year %></h3>
								
							</div>
						</div>
					<% end %>
					</div>
			</div>
		<% end %>
	</div>
</div>
